html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif; }

.abs-pos, #bg, #bg-color, #wrapper, #border-box, #click_through, #border-gradient, #logo, #copy-1, #copy-2, #copy-3, #copy-4, #legal, #footnote, #cta, #scrollerHolder, #anchor, .track {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px;
  overflow: hidden; }

#bg {
  background-color: #002554; }

#bg-color {
  height: 90px;
  left: 488px;
  background-color: #002554; }

#wrapper {
  position: relative;
  visibility: hidden; }
  #wrapper.show {
    visibility: visible; }

#border-box {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000000; }

#click_through {
  z-index: 999;
  height: 90px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0); }

#logo {
  left: 15px; }

#isi {
  width: 220px;
  height: 336px;
  left: 0; }

#cta {
  left: 15px; }

#scrollerHolder {
  top: 8px;
  left: 482px;
  width: 718px;
  z-index: 200; }

#scroll-wrapper {
  position: absolute;
  height: 70px;
  left: 20px; }

#content {
  overflow: auto;
  height: 76px; }

.content-class .bold {
  font-weight: 600; }

.content-class {
  margin-right: -2rem;
  padding-right: 2rem; }

#anchor {
  left: 5px;
  top: 0px;
  width: 0px;
  height: 0px; }

.grabbing {
  cursor: grabbing;
  user-select: none; }

.thumb {
  cursor: grab; }

#scrollbar {
  position: absolute;
  top: 8px;
  left: 488px;
  z-index: 1010; }

.track {
  left: 6px;
  top: 3px;
  width: 2px;
  height: 68px;
  background: #c0c0c0; }

.thumb {
  left: 4px;
  position: absolute;
  background: #c0c0c0;
  width: 6px;
  height: 6px;
  overflow: visible;
  z-index: 300;
  /* Take full width */ }
